.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col
  .mdl-card__media.mdl-color-text--grey-50
    h3
      a(href='https://github.com/iGitScor/frontend-developer') Frontend developer playground
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    div
      strong Playground to use advanced concepts and tools
.mdl-card.mdl-shadow--2dp.something-else.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-desktop
  a.mdl-button.mdl-js-ripple-effect.mdl-js-button.mdl-button--fab.mdl-button--primary(href='demo/')
    i.material-icons.mdl-color-text--white(role='presentation') launch
    span.visuallyhidden add
  .mdl-card__media.mdl-color--white.mdl-color-text--grey-600
    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/64px-JavaScript-logo.png')
    | Javascript
  .mdl-card__supporting-text.meta.meta--fill.mdl-color-text--grey-600
    div
      strong Github
    ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='menubtn')
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/frontend-developer') Repository
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/frontend-developer/issues') Issues
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/frontend-developer/pulls') Pull requests
    button#menubtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
      i.material-icons(role='presentation') more_vert
      span.visuallyhidden show menu
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 Project
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    | The project goal is to create a cart using flux pattern with modern tools stack.
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 Development
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    ul.demo-list-three.mdl-list
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span React
          span.mdl-list__item-text-body
            | Front app developed in Javascript using React framework
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span Redux
          span.mdl-list__item-text-body
            | Front app developed in ES6 using redux framework
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span Webpack
          span.mdl-list__item-text-body
            | Build tool combined with Gulp
